
.judul {
  font-size: xx-large;
  background-color: #edd481;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: rgb(227, 248, 174);
  font-family: cursive;
}

.result {
    font-size: xxx-large;
    display: flex
;
    font-family: cursive;
    justify-content: center;
}

header {
    display: flex
;
    justify-content: center;
}

.Introduction {
  background-color: #cadc88;
  padding: 20px;
  width:35%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

main {
    display: flex
;
    justify-content: flex-start;
    padding: 10px;
    gap: 70px;
}

.gender {    
  font-size: larger;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 150%;
  height: 40%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

td, th {
  border: 1px solid #803232;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #c2f86b;
}

.form-group {
    display: flex
;
    flex-direction: column;
}

input[type=number] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04b138; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
  }
  button:hover {
    transform: scale(1.1); 
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .red { 
    background-color: red;
  }
  
  img {
    width: 180px; 
    height: auto;
    opacity: 1;  
    transition: transform 0.3s, opacity 0.3s;
    display: flex
;
    flex-direction: column;
  }

  img:hover {
    transform: scale(1.1); 
    opacity: 1;
  }
.hasil {
  background-color: #dcf77c;
  padding: 30px;
  width: 120%;
  height: 35%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


footer {
  display: flex
;

    justify-content: center;
   

}
.maker {
  display: flex
  ;
      justify-content: center;
      background-color: darkseagreen;
      font-size: large;
      font-family: serif;
      padding-left: 500px;
      padding-right: 500px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.aside {
 background-color: #aad363;
  text-orientation: upright;
  padding: 10px;
  border: 1px solid #a59f9f; 
  font-size: 16px; 
  line-height: 1.6;
  font-family: cursive;
  max-width: 300px;
  max-height: 400px;
  margin-top: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.category {
  display: flex
;
    justify-content: center;
    font-size: larger;
}
.message {
  display: flex
;
    justify-content: center;
    font-size: larger;
}
